<div class="container my-5 text-center">
    <h1 class="my-4">Solon Admin</h1>
    <%- include('./partials/messages'); %>
    <ul class="nav nav-pills justify-content-center">
        <li class="nav-item">
            <a class="nav-link" href="/dashboard">Dashboard</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/proposals">Proposals</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="/events">Events</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/users">Users</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/auth/logout">Logout</a>
        </li>
    </ul>
    <hr>
    <h4 class="text-center my-4">Attenders for Event with Event ID <%- eid %></h4>
    <div class="row">
        <% attenders.forEach(function(attender){ %>
            <div class="col-md-6 col-lg-4 my-3">
                <%- include('attender/show', {attender: attender}); %>
            </div>
        <% }); %>
    </div>
</div>