<div class="row mt-5">
	<div class="col-md-6 m-auto text-center">
        <h1 class="mt-4">Dashboard</h1>
        <p class="lead mb-3">Welcome <%= user %></p>
        <a href="/users/logout" class="btn btn-secondary">Logout</a>
    </div>
</div>