<div class="container my-5 text-center">
    <h1 class="my-4">Solon Admin</h1>
    <%- include('./partials/messages'); %>
    <ul class="nav nav-pills justify-content-center">
        <li class="nav-item">
            <a class="nav-link" href="/dashboard">Dashboard</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/proposals">Proposals</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="/events">Events</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/users">Users</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/auth/logout">Logout</a>
        </li>
    </ul>
    <hr>
    <div class="row">
        <% events.forEach(function(event){ %>
            <div class="col-md-6 col-lg-4 my-3">
                <%- include('event/show', {event: event}); %>
            </div>
        <% }); %>
    </div>
    <button type="button" class="btn btn-primary float" data-toggle="modal" data-target="#newEventModal">
        <i class="fa fa-plus" aria-hidden="true"></i>
    </button>
    <div class="modal fade" id="newEventModal" tabindex="-1" role="dialog" aria-labelledby="newEventModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="newEventModalLabel">New Event</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form action="/events/new" method="POST">
                <div class="form-group">
                  <label for="title" class="col-form-label">Title:</label>
                  <input type="text" class="form-control" id="title" name="title" required>
                </div>
                <div class="form-group">
                  <label for="description" class="col-form-label">Description:</label>
                  <textarea rows="10" class="form-control" id="description" name="description" required></textarea>
                </div>
                <div class="form-group">
                    <label for="date" class="col-form-label">Date of Event:</label>
                    <input type="date" id="date" name="date" required>
                </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Create Event</button>
            </form>
            </div>
          </div>
        </div>
      </div>
</div>