<div class="container my-5 text-center">
    <h1 id="title" class="my-4">Solon Admin</h1>
    <%- include('./partials/messages'); %>
    <ul class="nav nav-pills justify-content-center">
        <li class="nav-item">
            <a class="nav-link" href="/dashboard">Dashboard</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="/proposals">Proposals</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/events">Events</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/users">Users</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/auth/logout">Logout</a>
        </li>
    </ul>
    <hr>
    <div class="row">
        <% proposals.forEach(function(proposal){ %>
            <div class="col-md-6 col-lg-4 my-3">
                <%- include('proposal/show', {proposal: proposal}); %>
            </div>
        <% }); %>
    </div>
    <button type="button" class="btn btn-primary float" data-toggle="modal" data-target="#newProposalModal">
        <i class="fa fa-plus" aria-hidden="true"></i>
    </button>
    <div class="modal fade" id="newProposalModal" tabindex="-1" role="dialog" aria-labelledby="newProposalModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="newProposalModalLabel">New Proposal</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form action="/proposals/new" method="POST">
                <div class="form-group">
                  <label for="title" class="col-form-label">Title:</label>
                  <input type="text" class="form-control" id="title" name="title" required>
                </div>
                <div class="form-group">
                  <label for="description" class="col-form-label">Description:</label>
                  <textarea rows="10" class="form-control" id="description" name="description" required></textarea>
                </div>
                <div class="form-group">
                    <label for="daysremaining" class="col-form-label">Days Until Voting on Proposal Ends:</label>
                    <input type="range" class="custom-range form-control" id="daysremaining" name="daysremaining" min="1" max="14" step="1" onchange="updateDaysRemaining(this.value);">
                    <p class="text-center" id="daysremainingtext">8 days</p>
                </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Create Proposal</button>
            </form>
            </div>
          </div>
        </div>
      </div>
</div>

<script>
    function updateDaysRemaining(val) {
        if (val == 1) {
            document.getElementById('daysremainingtext').innerHTML = val + " day";

        } else {
            document.getElementById('daysremainingtext').innerHTML = val + " days";
        }
    }
</script>