<div class="container my-5 text-center">
    <h1 class="my-4">Solon Admin</h1>
    <%- include('./partials/messages'); %>
    <ul class="nav nav-pills justify-content-center">
        <li class="nav-item">
            <a class="nav-link" href="/dashboard">Dashboard</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/proposals">Proposals</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/events">Events</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/forum">Forum</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="/users">Users</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/auth/logout">Logout</a>
        </li>
    </ul>
    <hr>
    <div class="row">
        <% users.forEach(function(user){ %>
            <div class="col-md-6 col-lg-4 my-3">
                <%- include('user/show', {user: user}); %>
            </div>
        <% }); %>
    </div>
</div>