<div class="row mt-5">
	<div class="col-md-6 m-auto">
		<div class="card card-body text-center">
            <h1>Welcome to<br>Solon Admin</h1>
            <img src="logo.png" alt="solon logo" class="m-auto" width=200>
			<p>Create an account or log in</p>
			<a href="/users/register" class="btn btn-primary btn-block mb-2"
				>Register</a
			>
			<a href="/users/login" class="btn btn-secondary btn-block">Log In</a>
		</div>
	</div>
</div>
