<div class="card border-primary">
    <h5 class="card-header">
        Vote ID: <%- vote.vid %>
    </h5>
    <div class="card-body">
        <p class="card-text">User ID of Voter: <%- vote.uid %></p>
      <p class="card-text">Vote Value: <%- vote.value %></p>
    </div>
</div>