.nav-item:hover {
	background-color: lightgray;
}

.float {
	position: fixed;
	width: 60px;
	height: 60px;
	bottom: 40px;
	right: 40px;
	color: white;
	border-radius: 50px;
	box-shadow: 4px 4px 6px #999;
}

#title {
	padding: 10px 0px 10px 0px;
	border: 3px black solid;
	border-radius: 50px;
}
