body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
		'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
		'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

h1 {
	font-weight: 700;
}

a {
	color: #f50057;
}

a:hover {
	color: #d3004a;
}

.btn-primary {
	color: white;
	background-color: #f50057;
	border-color: #f50057;
	border-radius: 10px;
}

.btn-primary:hover {
	color: white;
	background-color: #d3004a;
	border-color: #d3004a;
	border-radius: 10px;
}

.btn-outline-primary {
	color: #f50057;
	background-color: transparent;
	background-image: none;
	border-color: #f50057;
}

.btn-outline-primary:hover {
	color: white;
	background-color: #f50057;
	border-color: #f50057;
}

.form-card {
	text-align: center;
	border-radius: 50px;
	padding: 50px;
	width: 50%;
	margin: auto;
	margin-top: 100px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.navbar {
	background-color: #dfdfdf;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin-bottom: 25px;
}

.nav-item {
	margin: 0px 10px;
}
