body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
		'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
		'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

h1 {
	font-weight: 700;
}

.form-card {
	text-align: center;
	border-radius: 50px;
	padding: 50px;
	width: 50%;
	margin: auto;
	margin-top: 100px;
	margin-bottom: 100px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.navbar {
	background-color: #dfdfdf;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	margin-bottom: 25px;
}

.nav-item {
	margin: 0px 10px;
}

.fab {
	position: fixed;
	width: 60px;
	height: 60px;
	bottom: 40px;
	right: 40px;
	color: white;
	border-radius: 100px;
	box-shadow: 4px 4px 6px #999;
}

.fab:focus {
	outline: none;
}

.create-card {
	text-align: center;
	border-radius: 50px;
	padding: 50px;
	width: 75%;
	margin: auto;
	margin-top: 50px;
	margin-bottom: 50px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.fa-trash-alt {
	margin-right: 10px;
}
